@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants dark {
    .glow-blue {
      box-shadow: -6px -6px 22px 0 rgba(125, 211, 252, 0.35),
      6px 6px 16px 0 rgba(125, 211, 252, 0.30);
    }
  }
}

li::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 50px;
  border: 1.5px solid #0EA5E9;
}

.MuiTab-root>.MuiTab-wrapper {
  align-items: start;
}

.dev-border {
  border: 1px solid;
  border-color: rgba(229, 231, 235, .1);
}