@tailwind base;
@tailwind components;
@tailwind utilities;

.list-marker {
  @apply inline-block w-2.5 h-2.5 mr-2 rounded-full border border-blue-500;
}

.MuiContainer-root {
  @apply px-24 !important;
}

.MuiTableCell-root {
  @apply px-0 !important;
}

.dev-border {
  @apply border border-gray-500;
}

.MuiTab-root>.MuiTab-wrapper {
  align-items: start;
}

div.MuiBox-root {
  padding-top: 0;
  padding-bottom: 0;
}